.addCar_header{
	height: 2rem;
	background: orange;
	text-align: center;
	line-height: 2rem;
	color: white;
	font-size: 1rem;
}

.addCar_push{
	height: 5rem;
	padding-top: 0.1rem;
	float: left;
}
.addCar_push>.addCar_add{
	width: 2rem;
	height: 2rem;
	background: #E2E2E2;
	font-size: 2rem;
	color: #777;
	text-align: center;
	line-height: 2rem;
	margin:1.5rem 0 0 3rem;
	float: left;
}
.addCar_push p{
	float: left;
	font-size: 1rem;
	line-height: 5rem;
	margin-left: 1rem;
}

.addCar_content{
	float: left;
	width: 100%;
	height: auto;
	background: red;
}
.addCar_content>.addCar_name{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_name>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_name>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}


.addCar_content>.addCar_price{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_price>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_price>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}



.addCar_content>.addCar_newprice{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_newprice>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_newprice>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}





.addCar_content>.addCar_color{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_color>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_color>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}



.addCar_content>.addCar_mileage{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_mileage>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_mileage>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}



.addCar_content>.addCar_number{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_number>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_number>p>input{
	width: 8rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}





.addCar_content>.addCar_volume{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_volume>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_volume>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}





.addCar_content>.addCar_survey{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_survey>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_survey>p>input{
	width: 7rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}



.addCar_content>.addCar_insurance{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_insurance>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_insurance>p>input{
	width: 6rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}




.addCar_content>.addCar_commercial{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_commercial>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_commercial>p>input{
	width: 6rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}



.addCar_content>.addCar_firm{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_firm>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_firm>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}





.addCar_content>.addCar_whg{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_whg>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_whg>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}





.addCar_content>.addCar_bulk{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_bulk>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_bulk>p>input{
	width: 7rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}











.addCar_content>.addCar_type{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_type>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_type>p>input{
	width: 8rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}




.addCar_content>.addCar_skylight{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_skylight>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_skylight>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}





.addCar_content>.addCar_window{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_window>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_window>p>input{
	width: 7rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}



.addCar_content>.addCar_wiper{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_wiper>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_wiper>p>input{
	width: 8rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}




.addCar_content>.addCar_mirror{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_mirror>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_mirror>p>input{
	width: 6rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}






.addCar_content>.addCar_wheel{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_wheel>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_wheel>p>input{
	width: 6rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}






.addCar_content>.addCar_kongtiao{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_kongtiao>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_kongtiao>p>input{
	width: 10rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}






.addCar_content>.addCar_GPS{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_GPS>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_GPS>p>input{
	width: 8rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}



.addCar_content>.addCar_video{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_video>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_video>p>input{
	width: 6rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}






.addCar_content>.addCar_seat{
	width: 100%;
	height: auto;
	padding-top: 0.2rem;
}
.addCar_content>.addCar_seat>p{
	font-size: 1rem;
	margin-left: 1rem;
}
.addCar_content>.addCar_seat>p>input{
	width: 8rem;
	background: none;
	outline: none;
	border: none;
	margin-left: 1rem;
}



.button{
	width: 3rem;
	height: 1.5rem;
	float: right;
	text-align: center;
	line-height: 1.5rem;
	font-size: 1rem;
	margin-top: 2rem;
	margin-right: 2rem;
}








