.addCar_bg{
	background: #EEEEEE;
	padding-top: 0.1rem;
}
.addCar_header{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background: #68cefb;
	color: white;
	font-size: 1rem;
	z-index: 1;
	height: 2.2rem;
}

.addcar_alert{
	width: 10rem;
	height: 5rem;
	background: rgba(0,0,0,0.3);
	position: absolute;
	border-radius: 0.2rem;
	bottom: -35rem;
	left: calc(50% - 5rem);
	padding-top: 1rem;
}
.addcar_alert>p{
	width: 100%;
	font-size: 0.8rem;
	color: #3C3C3C;
	text-align: center;s
}
.addcar_alert>button{
	float: right;
	margin-right: 1.5rem;
	margin-top:0.5rem;
}
.addCar_header>div{
	float: left;
	margin-left: 0.7rem;
	line-height: 2rem;
}

.addCar_header>p{
	float: left;
	margin-left: 4rem;
	line-height: 2rem;
}


.addcar_img{
	width: 15rem;
	height: 11rem;
	margin:2.6rem auto 0;
	border: 1px solid #777777;
	/*background: pink;*/
}
.addcar_img>img{
	width: 15rem;
	height: 11rem;
}


.addcars_img{
	display: block;
	width: 60%;
	height: 1.5rem;
	position: relative;
	margin: 0.3rem auto;
	font-size: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
}


.addcars_img>input{
	width: 100%;
	font-size: 0.5rem;
	padding: 0.3rem 0;
	position: absolute;
	opacity: 0;
	outline: none;
	top: 0;
	left: 0;
}


.addcar_msg{
	width: 90%;
	height: 1.8rem;
	margin:0 auto 0.2rem;
	/*border-bottom: 1px solid #C0C0C0;*/
	overflow: hidden;
}
.addcar_msg>p{
	/*width: 20%;*/
	line-height: 1.8rem;
	font-size: 0.7rem;
	color: #333;
	float: left;
	margin: 0;
	text-indent: 0.3rem;
}
.addcar_msg>input{
	display: block;
	width: 50%;
	line-height: 0.8rem;
	text-indent: 0.6rem;
	font-size: 0.8rem;
	float: right;
	border: 0;
	background: none;
	outline: none;
	padding: 0.35rem 0;
	text-align: right;
}
.addcar_msg>input::placeholder{
	color: #333;
}
.addcar_msg>.addcar_width{
	width: 75%;
}
.addcar_msg>.addcar_width_one{
	width: 70%;
}
.addcar_msg>.addcar_width_two{
	width: 60%;
}
.addcar_msg>.addcar_width_three{
	width: 55%;
}
.addcar_title{
	height: 1.8rem;
	background: #68cefb;
	font-size: 0.8rem;
	text-indent: 0.6rem;
	line-height: 1.8rem;
	color: white;
	margin: 0.6rem 0;
}


.addcar_msg>.d{
	float: right;
	font-size: 0.7rem;
}
.addcar_msg>.c{
	float: right;
	margin-top: 0.43rem;
	font-size: 0.7rem;
	margin-right: 1.5rem;
}
.addCar_bp{
	width: 0.7rem;
	height: 0.7rem;
}









.addbutton{
	width: 100%;
	line-height: 1.4rem;
	font-size: 1rem;
	margin-top: 2rem;
	position: relative;
	bottom: 0;
	left: 0;
	background: #68cefb;
}







