.r_addStaff{
	width: 100vw;
	height: 100vh;
	background: white;
}
.r_addStaff_main{
	width: 100%;
	height: 100%;
	border-top: 1px solid white;
	font-family: "微软雅黑";
}
.r_addStaff_header{
	height: 2.3rem;
	background: white;
	border-bottom: 1px solid #BBBBBB;
	text-align: center;
	font-size: 1rem;
	line-height: 2.3rem;
	color: #08a3bf;
	letter-spacing: 0.2rem;
	position: relative;
}

.r_addStaff_header>a{
	width: 0.6rem;
	height: 1rem;
	position: absolute;
	top: 0.5rem;
	left: 1rem;
}
.r_addStaff_header>a:before{
	width: 0.1rem;
	height: 0.7rem;
	background: #08a3bf;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	transform-origin: bottom;
	transform: rotate(45deg);
}
.r_addStaff_header>a:after{
	width: 0.1rem;
	height: 0.7rem;
	background: #08a3bf;
	position: absolute;
	top: -0.04rem;
	left: 0;
	content: "";
	transform-origin: bottom;
	transform: rotate(135deg);
}
.r_addStaff_header>p{
	float: left;
	margin-left: 1rem;
	color: #000;
	font-size: 0.8rem;
}
.r_addStaff_center{
	width: 100%;
	clear: both;
	margin-top: 1rem;
}
.r_addStaff_center_left{
	width: 30%;
	height: 6rem;
	border: 1px solid black;
	float: left;
	background: red;
	margin-left: 8%;
	margin-top: 1rem;
	
}
.r_addStaff_center_left>img{
	width: 100%;
	height: 100%;
}
.r_addStaff_center_right{
	width: 50%;
	height: 8rem;
	float: right;
	font-size: .8rem;
}
.r_addStaff_center_right_user{
	margin-top: 1rem;
	float: left;
}
.r_addStaff_center_right_user>span{
	display: block;
	float: left;
}

.r_addStaff_center_right_user>input{
	float: left;
	width: 4rem;
	outline: none;
	border: 0;
	border-bottom: 1px solid black;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-size: 0.8rem;
}
.r_addStaff_center_right_sex{
	margin-top: 1rem;
	float: left;
}
.r_addStaff_center_right_sex>span{
	display: block;
	float: left;
}
.r_addStaff_center_right_sex>input{
	float: left;
	width: 4rem;
	outline: none;
	border: 0;
	border-bottom: 1px solid black;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-size: 0.8rem;
}
.r_addStaff_center_right_staff{
	margin-top: 1rem;
	float: left;
}
.r_addStaff_center_right_staff>span{
	display: block;
	float: left;
}
.r_addStaff_center_right_staff>input{
	float: left;
	width: 4rem;
	outline: none;
	border: 0;
	border-bottom: 1px solid black;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-size: 0.8rem;
}
.r_addStaff_center_bottom{
	width: 100%;
	height: 8rem;
	clear: both;
	font-size: 0.8rem;
	padding-top: 1rem;
}
.r_addStaff_center_bottom>div{
	margin-left: 1rem;
}
.r_addStaff_center_bottom_time{
	float: left;
}
.r_addStaff_center_bottom_time>span{
	display: block;
	float: left;
}
.r_addStaff_center_bottom_time>input{
	width: 8rem;
	padding-bottom: 0.1rem;
	padding-top: 0.1rem;
	font-size: 0.8rem;
	border: 0;
	outline: none;
	border-bottom: 1px solid black;
}
.r_addStaff_center_bottom_phone{
	margin-top: 1rem;
	float: left;
}
.r_addStaff_center_bottom_phone>span{
	display: block;
	float: left;
}
.r_addStaff_center_bottom_phone>input{
	float: left;
	width: 8rem;
	padding-bottom: 0.1rem;
	padding-top: 0.1rem;
	font-size: 0.8rem;
	border: 0;
	outline: none;
	border-bottom: 1px solid black;
}
.r_addStaff_center_bottom_phone_jin{
	margin-top: 1rem;
	float: left;
}

.r_addStaff_center_bottom_phone_jin>span{
	display: block;
	float: left;
}
.r_addStaff_center_bottom_phone_jin>input{
	float: left;
	width: 8rem;
	padding-bottom: 0.1rem;
	padding-top: 0.1rem;
	font-size: 0.8rem;
	border: 0;
	outline: none;
	border-bottom: 1px solid black;
}
.r_addStaff_center_bottom_phone_ji{
	margin-top: 1rem;
	float: left;
}
.r_addStaff_center_bottom_phone_ji>span{
	display: block;
	float: left;
}
.r_addStaff_center_bottom_phone_ji>input{
	float: left;
	width: 8rem;
	padding-bottom: 0.1rem;
	padding-top: 0.1rem;
	font-size: 0.8rem;
	border: 0;
	outline: none;
	border-bottom: 1px solid black;
}
.r_addStaff_footer{
	width: 100%;
	height: 2rem;
	background: red;
	position: fixed;
	bottom: 0;
}
.r_addStaff_footer>button{
	width: 100%;
	height: 100%;
	background: #08a3bf;
	border: 0;
	font-size: 1rem;
	letter-spacing: 0.3rem;
	color: white;
}
