.boss_homepage_wra{
	width: 100%;
	height: 100vh;
	position: relative;
	background: url(../images/bg_2.jpg) no-repeat center center;
	background-size: cover;
}
.boss_homepage_wra>.boss_homepage_wra2{
	width: 12rem;
	height: 17rem;
	position: absolute;
	top: calc(50% - 8.5rem);
	left: calc(50% - 6rem);
}
.boss_homepage_wra>.boss_homepage_wra2>div{
	width: 6.6rem;
	height: 2rem;
	margin-top: 1.5rem;
	border-bottom: 2px solid #51504e;
	line-height: 2.5rem;
	text-indent: 0.6rem;
	font-size: 0.8rem;
	font-family: "微软雅黑";
	color: #e8e4e2;
}
.boss_homepage_wra>.boss_homepage_wra2>div:nth-child(1){
	margin-top: 0;
	/*margin-left: 2rem;*/
}
.boss_homepage_wra>.boss_homepage_wra2>div:nth-child(2){
	margin-left: 1rem;
}
.boss_homepage_wra>.boss_homepage_wra2>div:nth-child(3){
	margin-left: 2rem;
	position: relative;
}
.boss_homepage_wra>.boss_homepage_wra2>div:nth-child(3)>ul{
	width: 3rem;
	height: 5rem;
	position: absolute;
	right: -3.6rem;
	top: -2rem;
	transition: all 1s;
	animation: 1s 0.2s chuxian linear both;
}
@keyframes chuxian{
	from{opacity: 0;}
	to{opacity: 1;}
}
.boss_homepage_wra>.boss_homepage_wra2>div:nth-child(3)>ul>li{
	width: 3rem;
	height: 2.5rem;
	line-height: 3rem;
	text-align: left;
	border-bottom: 2px solid #51504e;
}
.boss_homepage_wra>.boss_homepage_wra2>div:nth-child(4){
	margin-left: 3rem;
}
.boss_homepage_wra>.boss_homepage_wra2>div:nth-child(5){
	margin-left: 4rem;
}
.boss_homepage_wra>.boss_homepage_wra2>div>img{
	width: 2rem;
}
