.loginwra {
	width: 100vw;height: 100vh;background:url(../images/login-bg.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 9rem;
	position: relative;
}
.loginwra>.loginwra2{
	position: absolute;
	width: 10rem;
	height: 10rem;
	/*background: rgba(0,0,212,0.5);*/
	top: calc(50% - 5rem);
	left: calc(50% - 5rem);
}
.loginwra>.loginwra2>.logo{
	width: 2.2rem;
	height: 2.2rem;
	background:url(../images/logo.gif) no-repeat;
	background-size: 100% 100%;
	margin: auto;
	transform: scale(0);
	animation: 1s 0.5s aaa linear both;
}
.loginwra>.loginwra2>.login_msg>input{
	outline: none;
	display: block;
	width: 9.4rem;
	line-height: 1.8rem;
	height: 1.8rem;
	border-radius:0.3rem;
	border: 0.1rem solid white;
	background: rgba(0,0,0,0);
	margin:0 auto;
	color: white;
	font-size: 0.8rem;
	margin-top: 0.7rem;
	text-indent: 0.6rem;
	transform: scale(0);
	animation: 1s 1s bbb linear both;
}
.loginwra>.loginwra2>.login_msg>button{
	display: block;
	width: 4.6rem;
	height:1.8rem;
	background: #08A3BF;
	border: 0;
	font-size: 0.8rem;
	color: white;
	text-align: center;
	margin: 1rem auto 0;
	border-radius: 0.2rem;
	transform: scale(0);
	animation: 1s 1s bbb linear both;
}
.loginwra>.loginwra2>.login_msg>input::placeholder{
	color: white;
	line-height:1.8rem;
	text-indent: 0.6rem;
}
.gheight{
	height: 2rem;line-height: 2rem;font-size: 0.8rem;
	text-align: center;
}
@keyframes aaa{
	from{transform: scale(0);}
	to{transform: scale(1);}
}
@keyframes bbb{
	0%{transform: scale(0);}
	10%{transform: scale(0.2);}
	20%{transform: scale(0.3);}
	30%{transform: scale(0.5);}
	40%{transform: scale(0.6);}
	50%{transform: scale(0.7);}
	60%{transform: scale(0.8);}
	70%{transform: scale(0.9);}
	80%{transform: scale(1);}
	90%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
