.Mdetail{
	width: 100%;
	margin-top: 6rem;
	padding: 0 2%;
}
.Mcont{
	width: 100%;
	min-height: 10rem;
	position: relative;
	background: #31B0D5;
}
.Mtxt{
	width: 100%;
	margin-bottom: 2rem;
	background: #31B0D5;
}
.Mtxt p{
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: "微软雅黑";
	text-indent: 1rem;
}
.Mtime{
	position: absolute;
	bottom: 0;
	right: 0;
}
