.Mwarp{
	overflow: hidden;
	position: relative;
}
.Mhead{
	width: 100%;
	height: 2.5rem;
	background: #08a3bf;
	line-height: 2.5rem;
	text-align: center;
	font-size: .9rem;
	font-family: "微软雅黑";
	position: fixed;
	top: 0;left: 0;
	color: white;
}
.return{
	width: 0.6rem;
	height: 1rem;
	position: absolute;
	top: 0.6rem;
	left: 1rem;
}
.return:before{
	width: 0.1rem;
	height: 0.7rem;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	transform-origin: bottom;
	transform: rotate(45deg);
}
.return:after{
	width: 0.1rem;
	height: 0.7rem;
	background: #fff;
	position: absolute;
	top: -0.06rem;
	left: 0;
	content: "";
	transform-origin: bottom;
	transform: rotate(135deg);
}

.Mtextarea{
	width: 90%;
	height: 20rem;
	margin-top: 2rem;
	margin-left: 5%;
	border: 1px solid;
	resize: none;
	line-height: 1.4rem;
	font-size: 1.2rem;
	text-indent: 1rem;
	padding-top: 0.4rem;
	margin-top: 4rem;
}
.Mbutton{
	width: 4rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 1rem;
	border-radius: .5rem;
	outline: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}
/*.Mpopup{
	width: 90%;
	height: 5rem;
	font-size: 1rem;
	line-height: 5rem;
	text-align: center;
	position: absolute;
	bottom: 5rem;
	left: 5%;
	background: rgba(0,0,0,0.5);
	color: white;
}*/
