html,body{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
.revisecar_wra>.header{
	height: 2.3rem;
	background: #08A3BF;
	font-size: 1rem;
	line-height: 2.3rem;
	text-align: center;
	color: white;
	position: relative;
}
.revisecar_wra>.header>p{
	width: 0.6rem;
	height: 1.2rem;
	position: absolute;
	top: 0.4rem;
	left: 1rem;
}
.revisecar_wra>.header>p:before{
	width: 0.1rem;
	height: 0.8rem;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	transform-origin: bottom;
	transform: rotate(45deg);
}
.revisecar_wra>.header>p:after{
	width: 0.1rem;
	height: 0.8rem;
	background: white;
	position: absolute;
	top: -0.04rem;
	left: 0;
	content: "";
	transform-origin: bottom;
	transform: rotate(135deg);
}
.revisecar_wra>.car_img{
	width: 15rem;
	height: 11rem;
	margin:0.6rem auto;
	border: 1px solid #777777;
	/*background: pink;*/
}
.revisecar_wra>.car_img>img{
	width: 15rem;
	height: 11rem;
}
.revisecar_wra>.car_msg{
	width: 90%;
	height: 1.8rem;
	margin:0 auto 0.2rem;
	border-bottom: 1px solid #C0C0C0;
	overflow: hidden;
}
.revisecar_wra>.car_msg>p{
	/*width: 20%;*/
	line-height: 1.8rem;
	font-size: 0.7rem;
	color: #333;
	float: left;
	margin: 0;
	text-indent: 0.3rem;
}
.revisecar_wra>.car_msg>input{
	display: block;
	width: 50%;
	line-height: 0.8rem;
	text-indent: 0.6rem;
	font-size: 0.8rem;
	float: right;
	border: 0;
	outline: none;
	padding: 0.5rem 0;
	text-align: right;
}
.revisecar_wra>.car_msg>input::placeholder{
	color: #333;
}
.revisecar_wra>.car_title{
	height: 1.8rem;
	background:#08A3BF;
	font-size: 0.8rem;
	text-indent: 0.6rem;
	line-height: 1.8rem;
	color: white;
	margin: 0.6rem 0;
}
.revisecar_wra>.car_title>img{
	width: 1.2rem;
}
.revisecar_wra>.footer{
	width: 86%;
	margin: auto;
}
.revisecar_wra>.footer>button{
	float: right;
	margin-bottom: 1rem;
}
.revisecar_wra>.add_img{
	display: block;
	width: 60%;
	height: 1.5rem;
	position: relative;
	margin: 0.3rem auto;
}
.revisecar_wra>.add_img>input{
	width: 100%;
	height: 1.7rem;
	position: absolute;
	opacity: 0;
	outline: none;
	top: 0;
	left: 0;
}
