<div ng-controller="addCtrl">
	<div class="addCar_header">
		<p>+ 添 加 车 辆</p>
	</div>
	<div class="addCar_push">
		<div class="addCar_add">+</div>
		<p>请选择车辆图片</p>
	</div>
	<div class="addCar_content">
		<div class="addCar_name">
			<p>车名:<input type="text"></p>
		</div>
		<div class="addCar_price">
			<p>价格:<input type="text"></p>
		</div>
		<div class="addCar_newprice">
			<p>新价格:<input type="text"></p>
		</div>
		<div class="addCar_color">
			<p>颜色:<input type="text"></p>
		</div>
		<div class="addCar_mileage">
			<p>里程:<input type="text"></p>
		</div>
		<div class="addCar_number">
			<p>上牌时间:<input type="text"></p>
		</div>
		<div class="addCar_volume">
			<p>排量:<input type="text"></p>
		</div>
		<div class="addCar_survey">
			<p>年检到期时间:<input type="text"></p>
		</div>
		<div class="addCar_insurance">
			<p>交强险到期时间:<input type="text"></p>
		</div>
		<div class="addCar_commercial">
			<p>商业险到期时间:<input type="text"></p>
		</div>
		<div class="addCar_firm">
			<p>厂商:<input type="text"></p>
		</div>
		<div class="addCar_whg">
			<p>长宽高:<input type="text"></p>
		</div>
		<div class="addCar_bulk">
			<p>行李箱容积:<input type="text"></p>
		</div>
		<div class="addCar_type">
			<p>燃料类型:<input type="text"></p>
		</div>
		<div class="addCar_skylight">
			<p>天窗:<input type="text"></p>
		</div>
		<div class="addCar_window">
			<p>前后电动车窗:<input type="text"></p>
		</div>
		<div class="addCar_wiper">
			<p>感应雨刷:<input type="text"></p>
		</div>
		<div class="addCar_mirror">
			<p>后视镜电动调节:<input type="text"></p>
		</div>
		<div class="addCar_wheel">
			<p>多功能方向盘:<input type="text"></p>
		</div>
		<div class="addCar_kongtiao">
			<p>空调:<input type="text"></p>
		</div>
		<div class="addCar_GPS">
			<p>GPS导航:<input type="text"></p>
		</div>
		<div class="addCar_video">
			<p>倒车影像系统:<input type="text"></p>
		</div>
		<div class="addCar_seat">
			<p>真皮座椅:<input type="text"></p>
		</div>
		<button class="btn btn-success button">添加</button>
	</div>
	
</div>