<div ng-controller="addStaffCtrl" class="r_addStaff">
	<div class="r_addStaff_header">
		<a></a>
		<p>个人信息</p>
	</div>
	<div class="r_addStaff_center">
		<div class="r_addStaff_center_left"></div>
		<div class="r_addStaff_center_right">
			<div class="r_addStaff_center_right_user">
				<span>姓名：</span><input type="text"/>
			</div>
			<div class="r_addStaff_center_right_sex">
				<span>性别：</span><input type="radio" name="sex"/>男&#x3000;<input type="radio" name="sex"/>女
			</div>
			<div class="r_addStaff_center_right_staff">
				<span>工号：</span><input type="text"/>
			</div>
		</div>
		<div class="r_addStaff_center_bottom">
			<div class="r_addStaff_center_bottom_time">
				<span>入&nbsp;职&nbsp;时&nbsp;间：</span><input type="date"/>
			</div>
			<div class="r_addStaff_center_bottom_phone">
				<span>电&#x3000;&#x3000;&#x3000;话：</span><input type="text"/>
			</div>
			<div class="r_addStaff_center_bottom_phone_jin">
				<span>紧急联系人：</span><input type="text" />
			</div>
		</div>
	</div>
	<div class="r_footer">
		<button>添加员工</button>
	</div>
</div>