<div class="carDetails_wra" ng-controller="carDetailsCtrl">
	<div class="header">
		<span ng-click="CD_back()"></span>车辆详情
	</div>
	<div class="staffList_jiazai" ng-show='staffList_jiazai'>
		<img src="../images/loading.gif" />
	</div>
	<div class="carDetails_con" ng-show='staffList_content'>
		<div class="car_img"><img src="{{data.pic}}"/></div>
		<div class="car_name"><img src="images/car_details_icon1.jpg"/>{{data.name}}</div>
		<div class="car_price"><img src="images/car_details_icon2.jpg"/><span>￥{{data.jiage}}</span>/<span><del>￥{{data.xinchejia}}</del></span></div>
		<div class="car_serve">
			<div class="car_serve_header"><img src="images/carDetails_icon3.gif"/> 服务保障</div>
			<div class="car_serve_content">
				<p>
					<span></span>
					<span>1年2万公里质保</span>
				</p>
				<p>
					<span></span>
					<span>14天可退</span>
				</p>
				<p>
					<span></span>
					<span>259项检测</span>
				</p>
				<p>
					<span></span>
					<span>购车礼包</span>
				</p>
			</div>
		</div>
		<div class="car_title"><img src="images/carDetails_icon3.gif"/> 车辆档案</div>
		<div class="car_msg">
			<p>品&#x3000;牌：<span>{{data.pinpai}}</span></p>
			<p>车&#x3000;龄：<span>{{data.cheling}}</span></p>
			<p>车身颜色：<span>{{data.cheshenyanse}}</span></p>
			<p>表显里程：<span>{{data.licheng}}</span></p>
			<p>排&#x3000;量：<span>{{data.pailiang}}</span></p>
			<p>上牌时间：<span>{{data.shangpaishijian | date:'yyyy-MM-dd'}}</span></p>
			
			<p>年检到期时间：<span>{{data.nianjiandaoqishijian | date:'yyyy-MM-dd'}}</span></p>
			<p>交强险到期时间：<span>{{data.jiaoqiangxiandaoqishijian | date:'yyyy-MM-dd'}}</span></p>
			<p>商业险到期时间：<span>{{data.shangyexiandaoqishijian | date:'yyyy-MM-dd'}}</span></p>
		</div>
		<div class="car_title"><img src="images/carDetails_icon3.gif"/> 基本参数</div>
		<div class="car_msg">
			<p>厂&#x3000;商：<span>{{data.changshang}}</span></p>
			<p>长宽高：<span>{{data.changkuangao}}</span></p>
			<p>行李箱容积(L)：<span>{{data.xinglixiangrongji}}</span></p>
			<p>燃料类型：<span>{{data.ranliaoleixing}}</span></p>
		</div>
		<div class="car_title"><img src="images/carDetails_icon3.gif"/> 基本配置</div>
		<div class="car_msg">
			<p>天&#x3000;窗：<span>{{data.tianchuang}}</span></p>
			<p>前后电动车窗：<span>{{data.qianhoudiandongchechuang}}</span></p>
			<p>感应雨刷：<span>{{data.ganyingyushua}}</span></p>
			<p>后视镜电动调节：<span>{{data.houshijingdiandongtiaojie}}</span></p>
			<p>多功能方向盘：<span>{{data.duogongnengfangxiangpan}}</span></p>
			<p>空&#x3000;调：<span>{{data.kongtiao}}</span></p>
			<p>GPS导航：<span>{{data.gpsdaohang}}</span></p>
			<p>倒车影像系统：<span>{{data.daocheyingxiang}}</span></p>
			<p>真皮座椅：<span>{{data.zhenpizuoyi}}</span></p>
		</div>
		<div class="xiajia" ng-hide="a"><button class="btn btn-danger" data-toggle="modal" data-target="#layer">下架</button><button class="btn btn-primary" ng-click="revise()">编辑</button></div>
		<div role="dialog" class="modal fade bs-example-modal-sm" id="layer">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
		                            <span>&times;</span>
		                        </button>
						<h4 class="modal-title">确认下架吗?</h4>
					</div>
					<div class="modal-body text-right">
						<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
						<button data-dismiss="modal" class="btn btn-danger btn-sm"  ng-click="del()">确认</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
