<div ng-controller='listCtrl'>
	<div class="carList_header">
		<div class="carList_header_left">
			<div class="icon-home3"></div>
		</div>
		<div class="carList_header_center">
			<input type="text" placeholder="请输入关键字" />
		</div>
		<div class="carList_header_right">
			<div class="icon-search"></div>
		</div>
	</div>
	<ul class="carList_nav">
		<li>最新上架</li>
		<li>价  格</li>
		<li>里  程</li>
		<li>车  龄</li>
	</ul>
	<ul class="carList_List">
		<li>
			<div>
				<img src="../images/111.png">
			</div>
			<div>
				<p>车名:<span>大众捷达</span></p>
				<p>价格:<span>￥1.50万 </span></p>
				<p>行驶里程:<span>13.97万公里</span></p>
				<p>车龄:<span>12年</span></p>
			</div>
		</li>
		<li>
			<div>
				<img src="../images/222.png">
			</div>
			<div>
				<p>车名:<span>大众帕萨特</span></p>
				<p>价格:<span>￥2.35万 </span></p>
				<p>行驶里程:<span>13万公里</span></p>
				<p>车龄:<span>13年</span></p>
			</div>
		</li>
		<li>
			<div>
				<img src="../images/333.png">
			</div>
			<div>
				<p>车名:<span>玛莎拉蒂</span></p>
				<p>价格:<span>￥83.00万 </span></p>
				<p>行驶里程:<span>1.6万公里</span></p>
				<p>车龄:<span>1年</span></p>
			</div>
		</li>
	</ul>
</div>
