<div ng-controller='listCtrl'>
	<div class="carList_header">
		<div class="carList_header_left">
			<div class="glyphicon glyphicon-home" ng-click='back()'></div>
		</div>
		<div class="carList_header_center">
			<input type="text" placeholder="请输入关键字" />
		</div>
		<div class="carList_header_right">
			<div class="glyphicon glyphicon-search"></div>
		</div>
	</div>
	<ul class="carList_nav">
		<li>最新上架</li>
		<li>价  格</li>
		<li>里  程</li>
		<li>车  龄</li>
	</ul>
	<ul class="carList_List">
		<li ng-repeat='car in data'>
			<div ng-click='details(car)'>
				<img ng-src={{car.pic}}>
			</div>
			<div>
				<p>车&#x3000;名：<span>{{car.name}}</span></p>
				<p>价&#x3000;格：<span>{{car.jiage}}</span></p>
				<p>行驶里程：<span>{{car.licheng}}</span></p>
				<p>车&#x3000;龄：<span>{{car.cheling}}</span></p>
			</div>
		</li>
		
	</ul>
</div>
