<li ng-controller='noticeListCtrl' class="Mwarp">
	<div class="Mhead">
		<div class="return" ng-click="fan()"></div>
		 <div class="Mhead-text">公&#x3000;&#x3000;告</div>
	</div>
	<div class="staffList_jiazai" ng-show='staffList_jiazai'>
			<img src="images/loading.gif"/>
		</div>
	<ul class="Mcontent" ng-show='staffList_content'>
		<li class="Mtext" ng-repeat="t in data |orderBy:'-time'" ng-click="sub(t)" set-del={{t.id}} ng-class="{'unread':t.read=='0'}">
			<p>{{t.name}}</p>
			<div class="Mtime">{{t.time|date:'yyyy-MM-dd'}}</div>
			<div class="del" ng-click="n_delete($index,$event)">删除</div>
		</li>
	</ul>
</div>