<li ng-controller='noticeListCtrl' class="Mwarp">
	<div class="Mhead">
		<div class="return" ng-click="fan()"></div>
		 <div class="Mhead-text">公&#x3000;&#x3000;告</div>
	</div>
	<div class="staffList_jiazai" ng-show='staffList_jiazai'>
			<img src="images/loading.gif"/>
		</div>
	<ul class="Mcontent" ng-show='staffList_content'>
		<li class="Mtext" ng-repeat="t in data |orderBy:'-time'" ng-click="sub(t)" set-del={{t.id}} ng-class="{'unread':t.read=='0'}">
			<p>{{t.name}}</p>
			<div class="Mtime">{{t.time|date:'yyyy-MM-dd  HH:mm:ss'}}</div>
			<div class="del" data-target=".bs-example-modal-sm" ng-click="del_notice($event,$index)">删除</div>
		</li>
		<li class="Mtext" ng-repeat="t in dataa |orderBy:'-time'" ng-click="sub(t)" set-del={{t.id}} ng-class="{'unread':t.read=='0'}">
			<p>{{t.name}}</p>
			<div class="Mtime">{{t.time|date:'yyyy-MM-dd'}}</div>
			<div class="del" data-target=".bs-example-modal-sm" ng-click="del_notice($event,$index)">删除</div>
		</li>
	</ul>
	<div role="dialog" class="modal fade bs-example-modal-sm" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
	                            <span>&times;</span>
	                        </button>
					<h4 class="modal-title">确认删除吗？</h4>
				</div>
				<div class="modal-body text-right">
					<button data-dismiss="modal" class="btn btn-primary btn-sm" ng-click="n_quxiao()">取消</button>
					<button data-dismiss="modal" class="btn btn-danger btn-sm" ng-click="n_delete()">确认</button>
				</div>
			</div>
		</div>
	</div>
</div>