<div ng-controller="personalCtrl" class="r_main">
	<div class="r_header">
		<a ng-click='btn()'></a>个人信息 
	</div>
	<div class="staffList_jiazai" ng-show='staffList_jiazai'>
		<img src="images/loading.gif"/>
	</div>
	<div class="r_center" ng-show='staffList_content'>
		<div class="r_center_left">
			<img ng-src={{aa.touxiang}}>
		</div>
		<div class="r_center_right">
			<div class="r_center_right_user">
				<span>姓名：</span><span>{{aa.name}}</span>
			</div>
			<div class="r_center_right_sex">
				<span>性别：</span><span>{{aa.sex}}</span>
			</div>
			<div class="r_center_right_staff">
				<span>工号：</span><span>{{aa.gonghao}}</span>
			</div>
		</div>
		<div class="r_center_bottom">
			<div class="r_center_bottom_time">
				<span>入&nbsp;职&nbsp;时&nbsp;间：</span><span>{{aa.ruzhishijian}}</span>
			</div>
			<div class="r_center_bottom_phone">
				<span>电&#x3000;&#x3000;&#x3000;话：</span>
				<span ng-show="mmm">{{aa.dianhua}}</span>
				<input type="text" ng-model='aa.dianhua' ng-show="mm" ng-blur="re()"/>
				<button ng-click='edit()'>{{txt}}</button>
			</div>
			<div class="r_center_bottom_phone_jin">
				<span>紧急联系人：</span>
				<span ng-show="mmm1">{{aa.jinjilianxiren}}</span>
				<input type="text" ng-model='aa.jinjilianxiren' ng-show="mm1">
				<button ng-click='edit1()'>{{txt1}}</button>	
			</div>
		</div>
	</div>
		<button class="btn btn-primary btn-group-xs r_btn_del" ng-show="r_btn_del" ng-click="niu()" style="background: #68cefb; font-size: 0.7rem;">删除员工</button>
	
	
	
	<div role="dialog" class="modal fade bs-example-modal-sm shuai4" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
	                    <span>&times;</span>
	                </button>
					<h4 class="modal-title">确认删除吗？</h4>
				</div>
				<div class="modal-body text-right">
					<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
					<button data-dismiss="modal" class="btn btn-danger btn-sm" ng-click="personal_del()">确认</button>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div role="dialog" class="modal fade bs-example-modal-sm shuai" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
	                            <span>&times;</span>
	                        </button>
					<h4 class="modal-title">确认修改吗？</h4>
				</div>
				<div class="modal-body text-right">
					<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
					<button data-dismiss="modal" class="btn btn-danger btn-sm" ng-click="personal_ok()">确认</button>
				</div>
			</div>
		</div>
	</div>
	<div role="dialog" class="modal fade bs-example-modal-sm shuai3" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
	                            <span>&times;</span>
	                        </button>
					<h4 class="modal-title">确认修改吗？</h4>
				</div>
				<div class="modal-body text-right">
					<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
					<button data-dismiss="modal" class="btn btn-danger btn-sm" ng-click="personal_ok2()">确认</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade bs-example-modal-lg shuai2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content gheight">
				请输入正确手机号
		    </div>
		</div>
	</div>
	
	
	
</div>