<div ng-controller="releaseCtrl" class="Mwarp">
	<div class="Mhead">
		<div class="return" ng-click="fan()"></div>
		发布公告
	</div>
		<textarea class="Mtextarea" ng-model='Mtext'></textarea>
		<button class="Mbutton" ng-click="btn()" data-target="#layer">发布</button>
	
	<div class="Mnull_warp" ng-show='kong' >
		<div class="Mnull">
			内容不能为空!
			<button class="Mbutton" ng-click='kong1()'>确定</button>
		</div>
	</div>
	
	<div class="Mnull_warp" ng-show='send'>
		<div class="Mnull">
			是否发送?
			<button class="Mbutton" ng-click='no()'>取消</button>
			<button class="Mbutton" ng-click='ok()'>确定</button>
		</div>
	</div>
	<div class="Mnull_warp" ng-show='_success'>
		<div class="Mnull">
			发送成功!
			<button class="Mbutton" ng-click='ok1()'>确定</button>
		</div>
	</div>
	

</div>