<div ng-controller='staffListCtrl' class="staffListCtrl_wra">
	<div class="r_head">
		<a ng-click="btn()"></a>员工信息
	</div>
	<div class="r_search">
		<select name="" class="r_search_grounds">
			<option value="">姓名</option>
			<option value="">工号</option>
		</select>
		<input type="text" class="r_search_value"/>
		<button class="r_search_search">搜索</button>
	</div>
	<div class="r_content">
		<div class="r_content_main" ng-repeat='i in data'>
			<div class="r_content_main_pictuer" ng-click='btn2(i)'>
				<img ng-src={{i.touxiang}}>
			</div>
			<div class="r_content_main_content">
				<div class="r_content_main_content_user">
					<p>姓名：</p>
					<p>{{i.name}}</p>
				</div>
				<div class="r_content_main_content_sex">
					<p>姓别：</p>
					<p>{{i.sex}}</p>
				</div>
				<div class="r_content_main_content_gong">
					<p>工号：</p>
					<p>{{i.gonghao}}</p>
				</div>
				<div class="r_content_main_content_phont">
					<p>电话：</p>
					<p>{{i.dianhua}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="r_content_foot" ng-click="btn1()" ng-show="mmShow">添加员工</div>
</div>