<div ng-controller='staffListCtrl' class="staffListCtrl_wra">
	<div class="r_head">
		<a ng-click="btn()"></a>员工信息
	</div>
	<div class="r_search">
		<select name="" class="r_search_grounds">
			<option value="姓名" >姓名</option>
			<option value="工号" >工号</option>
		</select>
		<input type="text" class="r_search_value" ng-model='input_search' />
		<button class="r_search_search" ng-click='staffList_search()'>搜索</button>
	</div>
	<div ng-show="po" class="staffList_ppp">暂无搜索结果...</div>
	<div ng-show='staff_erro' class="staffList_alert">
			<div class="staffList_div">
				请 输 入 正 确 格 式 !
				<button class="btn btn-success" ng-click='staffList_hide()'>确定</button>
			</div>
			
		</div>
	<div class="r_content">
		<div class="r_content_main" ng-repeat='i in data'>
			<div class="r_content_main_pictuer" ng-click='btn2(i)'>
				<img ng-src={{i.touxiang}}>
			</div>
			<div class="r_content_main_content">
				<div class="r_content_main_content_user">
					<p>姓名：</p>
					<p>{{i.name}}</p>
				</div>
				<div class="r_content_main_content_sex">
					<p>性别：</p>
					<p>{{i.sex}}</p>
				</div>
				<div class="r_content_main_content_gong">
					<p>工号：</p>
					<p>{{i.gonghao}}</p>
				</div>
				<div class="r_content_main_content_phont">
					<p>电话：</p>
					<p style="letter-spacing: -0.5px;">{{i.dianhua}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="r_content_foot" ng-click="btn1()" ng-show="mmShow">添加员工</div>
</div>